

.container {
 height: 100%;
 width: 100%;
/* background-color: pink;*/
 margin: 0 auto;
 position: absolute;
}

.middleMaker {
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: sans-serif;
  font-size: 40px;
}

.box {
/*  background: #87ceeb;*/
  max-width: 1250px;
  min-width: 1250px;
  max-height: 500px;
  min-height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 800px;
  }

#balloon {
  height: 70px;
  width: 53px;
  transform: rotate(18deg);
  position: absolute; /*HAS TO HAVE ABSOLUTE!!!!!!!! */
  
}

#london {

position: absolute;
width: 100%;
left: 0;
bottom: 0;

}

/*.popper {
  height: 70px;
  width: 20px;
  background-color: blue;
}*/

#boat {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 115px;
/*  background-color: #20b2aa;*/

}

#tall {
  margin-top: 90px;
  height: 60px;
  width: 35px;
  background-color: purple;

}

#wharf{
  margin-left: 70px;
  margin-top: 7px;
  height: 150px;
  width: 60px;
  background-color: green;
}

#pauls{
  margin-left: 165px;
  margin-top: -59px;
  height: 20px;
  width: 100px;
  background-color: green;
}
#pickle {
  
}
#{

}
#{

}
#{

}
#{

}
#{

}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}


